{% extends 'cd20/base.html' %}
{% block title %}CD: {{netfile}} {{cd.name}} {%endblock%}
{% block body %}

<pre>
{{ cddoc }}
</pre>

<h1>Set CD method options</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ optionform.as_p }}
    <input type="submit" value="Submit and run CD" />
</form>



<h1>Communities</h1>

{% if cd.state == 'D' %}
<ul>
{% for cmtys in results %}
  <li> Layer {{forloop.counter0}}, {{cmtys|length}} communities.
    <ul>
      <li> Download:
    {% for ext, description in download_formats_ %}
    <a href="{% url cd20.views.download_cmtys did=ds.id cdname=cdname layer=forloop.parentloop.counter0 format=ext %}">{{description}}</a>,
    {% endfor %}
      </li>
      <li> <a href="{% url cd20.views.cmtys_viz did=ds.id cdname=cdname layer=forloop.counter0%}">Visualize</a> </li>
    </ul>
</li>

{% endfor %}
</ul>
{% endif %}

<pre>
{{comm_str}}
</pre>


{% endblock body %}

