{% extends 'cd20/base.html' %}
{% block title %}CD: {{netfile}} {{cd.name}} {%endblock%}
{% block pagetitle %}CD: {{netfile}} {{cd.name}} {%endblock%}
{% block body %}

<pre>
{{ cddoc }}
</pre>

<h2>Set CD method options</h2>

<p>This section presents possible options for this CD method.  The
  initial values are the default options, or the options for the last
  CD run.  Submitting will add this run to the queue, and if possible
  begin running right away.</p>

<form method="post">
  {% csrf_token %}
  <table>
    {{ optionform.as_table }}
  </table>
  <input type="submit" value="Submit and run CD" />
</form>



<h2>Communities</h2>

<p>Here, you can visualize and download your community detection results.</p>

<p>Current community state: {{cd.state}}</p>

{% if cd.state == 'D' %}
<ul>
{% for cmtys in results %}
  <li> Layer {{forloop.counter0}}, <i>{{cmtys.label}}</i> {{cmtys|length}} communities.
    <ul>
      <li> Download:
    {% for ext, description in download_formats_ %}
    <a href="{% url cd20.views.download_cmtys did=ds.id cdname=cdname layer=forloop.parentloop.counter0 format=ext %}">{{description}}</a>,
    {% endfor %}
      </li>
      <li> <a href="{% url cd20.views.cmtys_viz did=ds.id cdname=cdname layer=forloop.counter0%}">Visualize</a> </li>
    </ul>
</li>
{% endfor %}
</ul>
{% endif %}

{% if cd.state == 'Q' %}
Community detection run is queued since {{cd.qtime}}
{% endif %}
{% if cd.state == 'X' %}
Your community detection run has died somehow.  If this problem
persists, please contact the site admin.
{% endif %}


<h3>Community listing</h3>
{% if cd.state != 'D' %}<p>Your community detection is not completed
  so nothing is available here yet.</p>{% endif%}

{% if comm_str %}
<pre>
{{comm_str}}
</pre>
{% elif cd.state == 'D' %}
<p>Your network has too many nodes so results are not printed inline here.</p>
{% endif %}


<h2>Raw output</h2>
<p>You are encouraged to check the <a href="{% url cd20.views.cmtys_stdout did=ds.id cdname=cd.name %}">
raw output</a> of the CD to verify that options used are correct (first
line) and that there are no other errors.</p>


{% endblock body %}

