{% extends 'cd20/base.html' %}
{% block title %}Jako - stdout: {{netfile}} {{cd.name}} {%endblock%}
{% block body %}

<p>The following files contain standard output and standard error from
the CD run.  The first line lists raw arguments, then object data,
then some meta information.  Then, you see the actual standard output
and standard error streams combined.  This information is technical
and not necessarily generally useful.</p>

{% for name in outputs %}
<h1>{{name.0}}</h1>

<pre>
{{name.1}}
</pre>
{% empty %}
No standard output files found.

{% endfor %}


{% endblock body %}
