{% extends "cd20/base.html" %}

{% block title %}
Jako CD
{% endblock title %}

{% block pagetitle %}
Jako: An online community detection service
{% endblock pagetitle %}


{% block body %}
<p>Welcome to the Jako online community detection (CD) portal.</p>

<p>Community detection is the process of detecting structure within
   networks.  There are many different methods for this, however they
   are scattered across many papers, algorithms, and random code on
   the internet.  The purpose of Jako is to provide a simple way for
   people to test various methods on their networks.

<p>This site allows you to upload network datasets and run various
  community detection methods on them to find structural clusters
  within the data.  It is designed for simple use, but not to solve
  every problem you may have.</p>

<p>Anyone can anonymously upload a dataset, run CD with different
  options, do basic visualizations, and download the results.  There
  are limits on network size and running time of CD methods.</p>

<p>
<form action="{% url 'cd20.views.new' %}" method="post">
  {% csrf_token %}
<input type="submit" value="Upload your data!"/>
</form>
</p>

{% endblock body %}
