{% extends "cd20/base.html" %}

{% block title %}
Jako CD
{% endblock title %}

{% block pagetitle %}
Jako: An online community detection service
{% endblock pagetitle %}


{% block body %}
<p>Welcome to the online community detection (CD) portal.  This site
  allows you to upload network datasets and run various community
  detection methods on them to find structural clusters within the
  data.</p>

<p>Anyone can anonymously upload a dataset, run CD with different
  options, do basic visualizations, and download the results.  There
  are limits on network size and running time of CD methods.</p>

<p>
<form action="{% url 'cd20.views.new' %}" method="post">
  {% csrf_token %}
<input type="submit" value="Upload your data!"/>
</form>
</p>

{% endblock body %}
